<div id="login" class="login-form hidden-strong">
  <h2 class="text-2xl text-blue-400 mx-auto mb-5">Login</h2>
  <form (ngSubmit)="login()">
    <label for="login-email">E-Mail</label>
    <input
      type="email"
      name="login-email"
      id="login-email"
      placeholder="max.mustermann@gmail.com"
      class="input"
      formControlName="email"
    />
    <div class="invalid-input hidden-strong">
      <span *ngIf="loginForm.controls['email'].hasError('required')">
        E-Mail is required
      </span>
      <span *ngIf="loginForm.controls['email'].hasError('email')">
        E-Mail is not valid
      </span>
    </div>
    <label for="login-password">Password</label>
    <input
      type="password"
      name="login-password"
      id="login-password"
      placeholder="******"
      class="input"
      formControlName="password"
    />
    <div class="invalid-input hidden-strong">
      <span *ngIf="loginForm.controls['password'].hasError('required')">
        Password is required
      </span>
      <span *ngIf="loginForm.controls['password'].hasError('minlength')">
        Password is too short
      </span>
      <span *ngIf="loginForm.controls['password'].hasError('maxlength')">
        Password is too long
      </span>
    </div>
    <p class="bg-red-600 rounded-md p-1 w-full mt-2 text-center text-white {{hidden}}">
      {{ErrorMessage}}
    </p>
    <button (click) = "login()"type="submit" [disabled]="!active" class="btn-login" >
      Login
    </button>
  </form>
  <p>
    Don't have an account?
    <a routerLink="/register" class="underline">Register</a>
  </p>
</div>
