<div id="login" class="login-form hidden-strong">
    <h2 class="text-2xl text-blue-400 mx-auto mb-5">Login</h2>
    <label for="login-email">E-Mail</label>
    <input
        type="text"
        name="login-email"
        id="login-email"
        placeholder="max.mustermann@gmail.com"
        class="input"
    />
    <label for="login-password">Password</label>
    <input
        type="password"
        name="login-password"
        id="login-password"
        placeholder="******"
        class="input"
    />
    <button class="btn-login">Login</button>
    <p>
        Don't have an account? <a routerLink="/register" class="underline">Register</a>
    </p>
</div>