<div class="p-5">
    <h1 class="text-center mb-5 text-8xl text-white">GJokes</h1>
  
    <p class="centertext text-white">
        Congratulations, you found GJokes.
        On this website you can recall lots of funny jokes.
        A repository is created and the jokes are commited to it.
        You can get jokes every day.
        Just creat an account and get started :)
    </p>
    <img  src="/assets/imgs/posprojektconts.PNG" class="center rounded-lg"> 

<p class="centertext text-white">
    As you can see on the contributions above jokes are send every day to the account of the repository.<br>
    Enjoy the funny jokes and your contributionstats.  
</p>


<div id="cover" class="hidden-strong">
</div>
<app-register></app-register>
<app-login></app-login>