<div class="admin-form">
  <h1 class="text-4xl">Admin</h1>
  <div class="form-group">
    <label for="password">Password</label>
    <input #password id="password" type="password" class="input"/>
    <b class="text-red-500">{{APWrong}}</b>
  </div>
  <div class="flex justify-center sm:flex-row flex-col gap-4 mb-4">
    <div class="form-group">
      <label for="filter-by">Filter by</label>
      <select id="filter-by" class="input" #filterBy>
        <option value="All">All</option>
        <option value="Blocked">Blocked</option>
        <option value="NotBlocked">NotBlocked</option>
        <option value="NotAuthenticated">NotAuthenticated</option>
        <option value="Authenticated">Authenticated</option>
      </select>
    </div>
    <div class="form-group">
      <label for="order-by">Order by</label>
      <select id="order-by" class="input" #orderBy>
        <option value="Id">Id</option>
        <option value="Email">Email</option>
        <option value="Joined">Joined</option>
        <option value="JoinedDesc">Joined Desc</option>
      </select>
    </div>
    <div class="form-group">
      <label for="page-value">Page</label>
      <input id="page-value" type="number" class="input" step="1" min="0" value="0" #pageValue />
    </div>
  </div>
  <button class="w-full border-2 border-gray-400 p-2 rounded-md mb-4" (click)="loadUsers()">Load</button>
  <div class="grid sm:grid-cols-2 grid-cols-1 w-full">
    <ul class="sm:h-screen h-96 overflow-y-scroll border-2 border-gray-300 rounded-md px-4 pb-4">
      <li class="user-card" *ngFor="let user of users;let indexOfelement=index;" (click)="SelectUser(user)">
        <h3>Id: {{ user.userId }}</h3>
        <h4 class="card-email">Email: {{ user.realEmail }}</h4>
        <p class="card-joined">Joined: {{ user.configInfos.erstellung.toLocaleString("de-DE", { year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'}) }}</p>
      </li>
    </ul>
    <div id="user-info">
      <h2 class="text-lg">User info</h2>
      <div class="w-full">
        <h3>User id</h3>
        <p>{{ selectedUser.userId }}</p>

        <h3>Email</h3>
        <p>{{ selectedUser.realEmail }}</p>
      </div>
    </div>
  </div>
</div>
