<div class="admin-form">
  <h1 class="text-4xl">Admin</h1>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" class="input" />
  </div>
  <div>
    <h2>Filter</h2>
    <div class="form-group">
      <label for="filter-by-name">Filter by email</label>
      <input #email id="filter-by-name" type="text" class="input" (input)="loadUsers()"/>
    </div>
  </div>
  <ul>
    <li class="user-card" *ngFor="let user of users">
      <h3>{{ user.userId }}</h3>
      <h4 class="card-email">{{ user.realEmail }}</h4>
      <p class="card-joined">{{ user.configInfos.erstellung.toLocaleString("de-DE", { year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'}) }}</p>
    </li>
  </ul>
</div>
