<div id="register" class="login-form ">
  <h2 class="text-2xl text-blue-400 mx-auto mb-5">Register</h2>
  <label for="register-email">E-Mail</label>
  <input type="text" name="register-email" id="register-email" placeholder="max.mustermann@gmail.com" class="input"
    #email />
  <label for="register-password">Password</label>
  <input type="password" name="register-password" id="register-password" placeholder="******" class="input"
    #password1 />
  <label for="register-password-confirm">Confirm Password</label>
  <input type="password" name="register-password-confirm" id="register-password-confirm" placeholder="******"
    class="input" #password2 />
  <div class="flex align-center">
    <input type="checkbox" #check name="register-agreement-confirm" id="register-agreement-confirm" class="my-auto mr-1" />
    <label for="register-agreement-confirm">I hereby agree to the terms and conditions stated in
      <a routerLink="/about" class="underline">About Us</a> of GJokes.</label>
  </div>
  <div class="mt-3"> </div>
  <p class="bg-red-600 rounded-md p-1 w-full mt-40 text-center text-white {{hidden}}">
    {{ErrorMessage}}
  </p>
  <button (click)="Register()" class="btn-register disabled" [disabled]="!active">Register</button>
  <p>
    Already have an account? <a routerLink="/login" class="underline">Login</a>
  </p>


</div>