<div class="p-4">
  <h1 class="text-center text-4xl font-bold text-white">Config</h1>
  <div class="flex flex-col justify-center">
    <div class="settings-group xl:w-1/2 w-full mx-2">
      <h2 class="settings-title">GitHub Settings</h2>
      <p class="settings-text">
        This settings are used for the GitHub Implementation.
      </p>
      <div class="grid sm:grid-cols-2 grid-cols-1">
        <div class="mx-2">
          <label for="github-username">GitHub Username</label><input id="github-username" name="github-username"
            type="text" #Username class="input" value="{{ gusername }}" />
        </div>
        <div class="mx-2">
          <label for="">GitHub E-Mail</label>
          <input #Email1 id="github-email" name="github-email" type="email" class="input" value="{{ gemail }}" />
        </div>
      </div>

      <div class="mx-2">
        <label for="">Github Repository name</label>
        <input #RepoName id="github-email btn-register" class="input"
          />
      </div>

      <button class="button  btn-register" (click)="SaveGithubSettings()" [disabled]="!GSActive"> Save Changes </button>

      <button
        class="button  btn-register mt-2 focus:outline-none text-white bg-purple-700 hover:bg-purple-800 dark:bg-purple-600 dark:hover:bg-purple-700  "
        (click)="SendInvite()" [disabled]="!GSActive"> Send Github invite
      </button>

      <div class="flex">
        <p class="mr-1">Feedback:</p>
        <b class="text-{{color1}}-500">{{GSFeedback}}</b>
      </div>
    </div>
    <div class="settings-group xl:w-1/2 w-full mx-2">
      <h2 class="settings-title">Joke Settings</h2>
      <p class="settings-text">
        This settings are used to generate a random joke.
      </p>
      <div class="grid sm:grid-cols-2 grid-cols-1">
        <div class="mx-2">
          <label for="j-min">Jokes Min</label>
          <input #minCon id="j-min" name="j-min" type="number" class="input" min="0" value="{{ jmin }}" />
        </div>
        <div class="mx-2">
          <label for="j-max">Jokes Max</label>
          <input #maxCon id="j-max" name="j-max" type="number" class="input" min="0" value="{{ jmax }}" />
        </div>
      </div>
      <button class="button  btn-register" (click)="SaveCons()" [disabled]="!ConActive">Save Changes</button>
      <div class="flex">
        <p class="mr-1">Feedback:</p>
        <b class="text-{{color2}}-500">{{ConFeedback}}</b>
      </div>
    </div>
    <div class="settings-group xl:w-1/2 w-full mx-2">
      <h2 class="settings-title">Account Settings</h2>
      <p class="settings-text">This settings are for the Account.</p>
      <div>
        <h2 class="settings-title-2">Change Password</h2>
        <div>
          <label for="">Old Password</label>
          <input #OldPassword type="password" class="input" />
        </div>
        <div>
          <label for="">New Password</label>
          <input #NewPassword type="password" class="input" />
        </div>
        <button (click)="ChangePassword()" [disabled]="!ChActive" class="button  btn-register">Change Password</button>
        <div class="flex">
          <p class="mr-1">Feedback:</p>
          <b class="text-{{color3}}-500">{{ChFeedback}}</b>
        </div>
        <h2 class="settings-title-2">Delete Account</h2>
        <p></p>
        <div>
          <label for="">Password</label>
          <input #DelPasswort type="password" class="input" />
          <label for="">Type: "Gitty" to confirm.</label>
          <input #DelConfirm type="text" class="input" />
          <button class="button btn-register" (click)="DeleteACcount()" [disabled]="!DelActive">Delete Account</button>
          <div class="flex">
            <p class="mr-1">Feedback:</p>
            <b class="text-red-500">{{DelFeedback}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>