<nav class="bg-1 text-1 py-4 flex-row px-4">
  <ul class="flex flex-row">
    <li class="ml-2 my-auto w-full text-white">
      <a class="links" routerLink="/">Home</a>
    </li>
    <li class="min-w-[400px]">
      <div [ngSwitch]="LogState" class="w-100">
        <div *ngSwitchCase="1">
          <li>
            <a
              routerLink="/config"
              class="links float-right first-letter:text-white ml-4 mr-2"
              >Config
            </a>
          </li>
          <li>
            <a routerLink="/GenerateCont" class="links float-right text-white"
              >Generate Jokes Now</a
            >
          </li>
        </div>
        <div *ngSwitchCase="-1" lass="w-100">
            <li>
                <a
                  class="links float-right first-letter:text-white ml-3 mr-2"
                  (click)="cr('/register')"
                  >Register
                </a>
              </li>
        </div>
        
      </div>
    </li>
  </ul>
</nav>
