<div   id="SendCode" class="login-form ">
  <h2 class="text-2xl text-blue-400 mx-auto mb-5">Email Verification</h2>

  <p class="text-xl text-black mx-auto mb-2">We've sent you a Verification Token.</p>

  <p class="bg-green-600 rounded-md p-1 w-full mt-2 mb-2 text-center text-white {{hidden2}}">
   {{Message}}
  </p>

  <input type="text" id="AuthToken" placeholder="0000000000wow" class="input" #Token />

  <p class="bg-red-600 rounded-md p-1 w-full mt-2 text-center text-white {{hidden}}">
    {{ErrorMessage}}
  </p>
  <button (click)="SendToken()" class="btn-register" [disabled]="!active">Verify Token</button>
</div>